#content {
	transition-duration: 0.3s;
	transition-property: all;
	.mdc-layout-grid {
		padding-bottom: 0px;
	}
	.im_ca {
		padding-bottom: 24px;
	}
	.unpadded-lr {
		padding-left: 0;
		padding-right: 0;
	}
	input[type="checkbox"]{
		background-color: rgba(0,0,0,0);
		color: white;
	}
}
.freecontent#content {
	//when lmenu hidden
	margin-left: 55px;
	width: calc(100% - 55px);
}
