.icon-arrow-dark {
	display: block;
	width: 30px;
	height: 13px;
	background: url('../../img/Arrow Dark.svg') no-repeat center;
}.icon-arrow-light {
	display: block;
	width: 30px;
	height: 13px;
	background: url('../../img/Arrow Light.svg') no-repeat center;
}
.icon-menu {
		display: block;
		width: 50px;
		height: 50px;
		background: url('../../img/lmenu/Icon Menu.svg') no-repeat center;
	}
.lmenu,#hidden_lmenu_links {
	.icon-logotype {
		display: block;
		width: 120px;
		height: 30px;
		background: url('../../img/lmenu/Logotype.svg') no-repeat center;
	}
	.icon-home {
		width: 30px;
		height: 30px;
		background: url('../../img/lmenu/Icon Home.svg') no-repeat center;
	}
	.icon-accounts {
		width: 30px;
		height: 30px;
		background: url('../../img/lmenu/Icon Accounts.svg') no-repeat center;
	}
	.icon-analytics {
		width: 30px;
		height: 30px;
		background: url('../../img/lmenu/Icon analytics.svg') no-repeat center;
	}
	.icon-calendar {
		width: 30px;
		height: 30px;
		background: url('../../img/lmenu/Icon Calendar.svg') no-repeat center;
	}
	.icon-directory {
		width: 30px;
		height: 30px;
		background: url('../../img/lmenu/Icon Directory.svg') no-repeat center;
	}
	.icon-help {
		width: 30px;
		height: 30px;
		background: url('../../img/lmenu/Icon Help.svg') no-repeat center;
	}
	.icon-layots {
		width: 30px;
		height: 30px;
		background: url('../../img/lmenu/Icon Layots.svg') no-repeat center;
	}
	.icon-library {
		width: 30px;
		height: 30px;
		background: url('../../img/lmenu/Icon Library.svg') no-repeat center;
	}
	.icon-messages {
		width: 30px;
		height: 30px;
		background: url('../../img/lmenu/Icon Messages.svg') no-repeat center;
	}
	.icon-payments {
		width: 30px;
		height: 30px;
		background: url('../../img/lmenu/Icon Payments.svg') no-repeat center;
	}
	.icon-project {
		width: 30px;
		height: 30px;
		background: url('../../img/lmenu/Icon Project.svg') no-repeat center;
	}
	.icon-tasks {
		width: 30px;
		height: 30px;
		background: url('../../img/lmenu/Icon Tasks.svg') no-repeat center;
	}
	
	.icon-home {
		width: 30px;
		height: 30px;
		background: url('../../img/lmenu/Icon Home.svg') no-repeat center;
	}
	.icon-accounts {
		width: 30px;
		height: 30px;
		background: url('../../img/lmenu/Icon Accounts.svg') no-repeat center;
	}
	.icon-analytics {
		width: 30px;
		height: 30px;
		background: url('../../img/lmenu/Icon analytics.svg') no-repeat center;
	}
	.icon-calendar {
		width: 30px;
		height: 30px;
		background: url('../../img/lmenu/Icon Calendar.svg') no-repeat center;
	}
	.icon-directory {
		width: 30px;
		height: 30px;
		background: url('../../img/lmenu/Icon Directory.svg') no-repeat center;
	}
	.icon-help {
		width: 30px;
		height: 30px;
		background: url('../../img/lmenu/Icon Help.svg') no-repeat center;
	}
	.icon-layots {
		width: 30px;
		height: 30px;
		background: url('../../img/lmenu/Icon Layots.svg') no-repeat center;
	}
	.icon-library {
		width: 30px;
		height: 30px;
		background: url('../../img/lmenu/Icon Library.svg') no-repeat center;
	}
	.icon-messages {
		width: 30px;
		height: 30px;
		background: url('../../img/lmenu/Icon Messages.svg') no-repeat center;
	}
	.icon-payments {
		width: 30px;
		height: 30px;
		background: url('../../img/lmenu/Icon Payments.svg') no-repeat center;
	}
	.icon-project {
		width: 30px;
		height: 30px;
		background: url('../../img/lmenu/Icon Project.svg') no-repeat center;
	}
	.icon-tasks {
		width: 30px;
		height: 30px;
		background: url('../../img/lmenu/Icon Tasks.svg') no-repeat center;
	}
	.icon-menu {
		display: block;
		width: 30px;
		height: 30px;
		background: url('../../img/lmenu/Icon Menu.svg') no-repeat center;
	}
}
#content {
	.icon-search-white {
		display: block;
		width: 50px;
		height: 50px;
		background: url('../../img/content/Icon Search White.svg') no-repeat center;
	}
	.icon-close {
		display: block;
		width: 20px;
		height: 20px;
		background: url('../../img/content/Close.svg') no-repeat center;
	}
	.icon-collapse {
		display: block;
		width: 20px;
		height: 20px;
		background: url('../../img/content/Collapse.svg') no-repeat center;
	}
	.icon-drafts {
		display: block;
		width: 50px;
		height: 50px;
		background: url('../../img/content/Icon Drafts.svg') no-repeat center;
	}
	.icon-important {
		display: block;
		width: 50px;
		height: 50px;
		background: url('../../img/content/Icon Important.svg') no-repeat center;
	}

	.icon-loggin {
		display: block;
		width: 50px;
		height: 50px;
		background: url('../../img/content/Icon Loggin.svg') no-repeat center;
	}
	.icon-menu {
		display: block;
		width: 50px;
		height: 50px;
		background: url('../../img/content/Icon Menu.svg') no-repeat center;
	}
	.icon-notification {
		display: block;
		width: 50px;
		height: 50px;
		background: url('../../img/content/Icon Notification.svg') no-repeat center;
	}
	.icon-search {
		display: block;
		width: 50px;
		height: 50px;
		background: url('../../img/content/Icon Search.svg') no-repeat center;
	}
	.icon-sent_mail {
		display: block;
		width: 50px;
		height: 50px;
		background: url('../../img/content/Icon Sent Mail.svg') no-repeat center;
	}
	.icon-setting {
		display: block;
		width: 50px;
		height: 50px;
		background: url('../../img/content/Icon Setting.svg') no-repeat center;
	}
	.icon-trash {
		display: block;
		width: 50px;
		height: 50px;
		background: url('../../img/content/Icon Trash.svg') no-repeat center;
	}
	.icon-inbox {
		display: block;
		width: 50px;
		height: 50px;
		background: url('../../img/content/Icon Inbox.svg') no-repeat center;
	}
	.icon-logotype {
		display: block;
		width: 50px;
		height: 50px;
		background: url('../../img/content/Logotype.svg') no-repeat center;
	}

	.icon-plus {
		display: block;
		width: 18px;
		height: 18px;
		background: url('../../img/content/Plus.svg') no-repeat center;
	}
	.icon-star {
		display: block;
		width: 50px;
		height: 50px;
		background: url('../../img/content/Star.svg') no-repeat center;
	}
	.icon-star-white {
		display: block;
		width: 50px;
		height: 50px;
		background: url('../../img/content/Star White.svg') no-repeat center;
	}
	.icon-labels-blue {
		display: block;
		width: 20px;
		height: 20px;
		background-size: 20px 20px;
		background-image: url('../../img/content/label/Label Blue.svg');
	}
	.icon-labels-red {
		display: block;
		width: 20px;
		height: 20px;
		background-size: 20px 20px;
		background-image: url('../../img/content/label/Label Red.svg');
	}
	.icon-labels-green {
		display: block;
		width: 20px;
		height: 20px;
		background-size: 20px 20px;
		background-image: url('../../img/content/label/Label Green.svg');
	}
}